
header {
    background-color: #000;
    border: 1px solid violet;

    nav {
        padding: 15px;
        ul {
            list-style: none;
            li {
                display: inline-block;
            }
        }
    }
}
