header {
  background-color: #000;

  nav {
    padding: 15px;
    ul {
      list-style: none;
      li {
        display: inline-block;
        margin-left: 30px;
        position: relative;
       top: -20px;

        &:first-child {
            top: -6px;

            &:hover {
                &:after{
                display: none;
            }
        }
        }
    
      a {
        color: white;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        font-family: $roboto;
        position: relative;

        &:hover {
        &::after {
           display: block;
        }
        }
        &:after {
            content: "";
            display: none;
            background-color: #fff;
            height: 2px;
            width: 100%;
            position: absolute;
           
        }
      }
      img {
        width: 150px;
        height: 70px;
      }
    
    }
}
  }
}
