header {
    background-color: #000;
}
header {
    border: 1px solid violet;

    nav {
        padding: 15px;

        ul {
            li {
                background-color: cadetblue;
            }
        }
    }
}