.FormRow {
    margin: 8px 0;
}

.StudentForm .FormRow:first-child {
    margin-top: 0;
}

.FormRow label {
    display: block;
    margin-bottom: 2px;
}

.FormRow input {
    font-size: 20px;
    padding: 5px;
    border: 2px solid #aaa;
}

.StudentForm button {
    background: none;
    border: 2px solid #aaa;
    padding: 5px 12px;
    font-size: 20px;
    cursor: pointer;
}

.StudentForm button:hover {
    background-color: #aaa;
}

.StudentForm button:disabled {
    color: #ddd;
}
