section.hero {
  h1 {
    font-size: 68px;
    font-weight: 300px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 8px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
    
    @media (max-width:$sm){
     font-size: 24px;
     font-weight: 200;
      padding: 10px;
      
      }

    span {
      font-weight: 600;
    animation: color-change 7s infinite;
    
  }
}
}
@keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
  }