section.hero {
    h1 {
        font-size: 68px;
        font-weight: 300px;
        text-transform: uppercase;
        color:$white;
        letter-spacing: 8px;

        
        span {
            font-weight: 600px;
            background-color: linear-gradient(
                to right,
                rgba(213, 228, 8, 0),
                rgb(230, 17, 17) 
              );
        }
    }
}