@import url("https://fonts.googleapis.com/css2?family=Allan&family=Montserrat:wght@100&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allan&family=Montserrat:wght@100&family=Roboto&display=swap");

* {
  font-family: sans-serif;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
#product-overview {
  /* background: red; */
  background-image:  url("../../task08/img/freedom.jpg");
  background-size: cover;
  font-family: "Allan", cursive;
  padding: 20px;
  border: 5px solid black;
  /* margin: 20px; */
  width: 100%;
  height: 528px;
}

#product-overview h1 {
  color: white;
  font-family: A;
}
.plan {
  background: #d5ffdc;
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.plan--highlighted {
  background-color: #2ddf2d;
  color: #d5ffdc; 
  box-shadow: 2px 2px 2px 2px blueviolet;
}
.plan__annotation {
  background: white;
  color: #2ddf2d;
  padding: 8px;
  box-shadow: 2px 2px 2px 2px blueviolet;
  border-radius: 8px;

}
.plan__title{
  color: #2ddf2d;
}
.plan__price {
  color: gray;
}
 .plan--highlighted .plan__price {
   color: whitesmoke;
 }
.plan__features {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.plan__features li {
  margin: 8px 0px;
}
.button {
  background: darkgreen;
  color: whitesmoke;
  /* font-family: 'Courier New', Courier, monospace; */
  font:inherit;
  border: 1.5px solid #2ddf2d;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
.button:hover,
.button:active {
  background: whitesmoke;
  color: darkgreen;
}
.button:focus {
  outline: none;
}
#key-features {
  background: rgb(238, 16, 138);
  margin-top: 80px;
  padding: 16px;
}

.key-features__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.key-features {
  display: inline-block;
  width: 30%;
}
.key-features__description {
  text-align: center;
  font-weight: bolder;
  color: antiquewhite !important; 
  font-size: 20px;
  
}
#key-features .section-title {
  color: whitesmoke;
  margin: 32px;
} 
h1 {
  color: cadetblue;

  font-family: inherit;
}
.section-title {
  color: #2ddf2d;
  text-align: center;
}
.main-header {
  background-color: #2ddf2d;
  width: 100%;
  padding: 9px 16px;
  display: inline=block;
}
.main-header__brand {
  color: blue;
  font-weight: bold;
  text-decoration: none;
  font-size: 22px;
}
.main-nav__item {
  display: inline-block;
}

.main-nav__item {
  margin: 0 16px;
  /* padding: 10px; */
  list-style: none;
}
.main-nav__item a {
  text-decoration: none;
  color: blueviolet;
  padding: 10px;

 
}
.main-nav__item a:hover {
  color: red;
  font-weight: bold;
  border-bottom:2px solid  burlywood;

}
.main-nav__item a:active {
  color: #2ddf2d;
 
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 70px);
}
.main-header > div {
  display: inline-block;
  vertical-align: middle;
}
p::first-letter {
  color: #2ddf2d;
}
.main-nav__item a::after {
  content: " (Link)";
  color: blue;
}
.main-nav__item--cta a {
  color:white;
  background: rebeccapurple;
  padding: 10px;
  border-radius: 5px;
}
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  background: orange;
  color: red;
  border: none;
}
