@import url("https://fonts.googleapis.com/css2?family=Allan&family=Montserrat:wght@100&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allan&family=Montserrat:wght@100&family=Roboto&display=swap");

* {
  font-family: sans-serif;
}
body {
  font-family: "Montserrat", sans-serif;
  margin:0;
}
#product-overview {
  background: red;
  font-family: "Allan", cursive;
  padding: 20px;
  border: 5px solid black;
  /* margin: 20px; */
  width: 100%;
  height: 528px;
}

#product-overview h1 {
  color: white;
  font-family: A;
}
h1 {
  color: cadetblue;

  font-family: inherit;
}
.section-title {
  color: #2ddf2d;
}
.main-header {
  background-color: #2ddf2d;
  width: 100%;
  padding: 9px 16px ;

}
.main-nav__item {
  display: inline-block;
}